---
const { url } = Astro;
---

<div
  class="w-screen h-screen bg-gradient-to-r from-purple-500 to-pink-500 flex flex-col items-center justify-center px-8"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    class="w-72 md:w-56 justify-self-end"
    ><path
      fill="currentColor"
      class="fill-gray-300"
      d="M22 14h-1c0-3.87-3.13-7-7-7h-1V5.73A2 2 0 1 0 10 4c0 .74.4 1.39 1 1.73V7h-1c-3.87 0-7 3.13-7 7H2c-.55 0-1 .45-1 1v3c0 .55.45 1 1 1h1v1a2 2 0 0 0 2 2h14c1.11 0 2-.89 2-2v-1h1c.55 0 1-.45 1-1v-3c0-.55-.45-1-1-1M9.86 16.68l-1.18 1.18l-1.18-1.18l-1.18 1.18l-1.18-1.18l1.18-1.18l-1.18-1.18l1.18-1.18l1.18 1.18l1.18-1.18l1.18 1.18l-1.18 1.18l1.18 1.18m9 0l-1.18 1.18l-1.18-1.18l-1.18 1.18l-1.18-1.18l1.18-1.18l-1.18-1.18l1.18-1.18l1.18 1.18l1.18-1.18l1.18 1.18l-1.18 1.18l1.18 1.18Z"
    ></path></svg
  >
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-auto w-32 -mt-8"
    viewBox="0 0 24 24"
    ><path
      fill="none"
      class="stroke-gray-200"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M3 7v4a1 1 0 0 0 1 1h3m0-5v10m3-9v8a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1zm7-1v4a1 1 0 0 0 1 1h3m0-5v10"
    ></path></svg
  >
  <h2 class="text-gray-200 text-3xl md:text-3xl lg:text-xl">
    Dont worry! It's not you. it's as.
  </h2>
  <div class="flex flex-row items-center gap-4 justify-center mt-8">
    <button
      onclick="history.back()"
      class="px-6 py-2 rounded-xl border transition-all ease-in-out duration-300 hover:bg-pink-400 hover:shadow-lg shadow-cyan-400/25 border-slate-200 text-slate-200 flex items-center gap-3 justify-center"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="m9 18l-6-6l6-6l1.4 1.4L6.8 11H21v2H6.8l3.6 3.6L9 18Z"></path></svg
      >
      <span>Step back</span></button
    >
    <a
      href="/"
      class="px-4 py-2 rounded-xl border transition-all ease-in-out duration-300 hover:bg-pink-400 hover:shadow-lg shadow-cyan-400/25 border-slate-200 text-slate-200 flex items-center gap-3 justify-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><g fill="currentColor"
          ><path
            d="M13.106 22h-2.212c-3.447 0-5.17 0-6.345-1.012c-1.175-1.012-1.419-2.705-1.906-6.093l-.279-1.937c-.38-2.637-.57-3.956-.029-5.083c.54-1.127 1.691-1.813 3.992-3.183l1.385-.825C9.8 2.622 10.846 2 12 2c1.154 0 2.199.622 4.288 1.867l1.385.825c2.3 1.37 3.451 2.056 3.992 3.183c.54 1.127.35 2.446-.03 5.083l-.278 1.937c-.487 3.388-.731 5.081-1.906 6.093C18.276 22 16.553 22 13.106 22Z"
            opacity=".5"></path><path
            d="M8.25 18a.75.75 0 0 1 .75-.75h6a.75.75 0 0 1 0 1.5H9a.75.75 0 0 1-.75-.75Z"
          ></path></g
        ></svg
      >
    </a>
  </div>
</div>
