---
const { page } = Astro.props;
---

<div>
  <div class="grid grid-flow-col gap-4 justify-center items-center">
    {
      page.start > 0 ? (
        <a
          class="p-2 text-sm font-light bg-gradient-to-br from-white to-slate-100 hover:from-cyan-300 hover:to-blue-500 hover:text-blue-100 transition-all ease-in-out duration-300 text-slate-500 tranform hover:scale-110 hover:shadow-none border-slate-50 shadow block rounded-full text-center"
          href={page.url.prev} data-swup-preload
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M2 12c0 5.52 4.48 10 10 10s10-4.48 10-10S17.52 2 12 2S2 6.48 2 12zm18 0c0 4.42-3.58 8-8 8s-8-3.58-8-8s3.58-8 8-8s8 3.58 8 8zM8 12l4-4l1.41 1.41L11.83 11H16v2h-4.17l1.59 1.59L12 16l-4-4z"
            />
          </svg>
        </a>
      ) : (
        <span class="p-2 text-sm font-light bg-gradient-to-br from-white to-slate-100 text-slate-200 border border-slate-50 block rounded-full text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M2 12c0 5.52 4.48 10 10 10s10-4.48 10-10S17.52 2 12 2S2 6.48 2 12zm18 0c0 4.42-3.58 8-8 8s-8-3.58-8-8s3.58-8 8-8s8 3.58 8 8zM8 12l4-4l1.41 1.41L11.83 11H16v2h-4.17l1.59 1.59L12 16l-4-4z"
            />
          </svg>
        </span>
      )
    }
    {
      page.currentPage < page.lastPage ? (
        <a
          class="p-2 text-sm font-light bg-gradient-to-br from-white to-slate-100 hover:from-cyan-300 hover:to-blue-500 hover:text-blue-100 transition-all ease-in-out duration-300 text-slate-500 tranform hover:scale-110 hover:shadow-none border-slate-50 shadow block rounded-full text-center"
          href={page.url.next} data-swup-preload
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10s10-4.48 10-10zM4 12c0-4.42 3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8s-8-3.58-8-8zm12 0l-4 4l-1.41-1.41L12.17 13H8v-2h4.17l-1.59-1.59L12 8l4 4z"
            />
          </svg>
        </a>
      ) : (
        <span
          class="p-2 text-sm font-light bg-gradient-to-br from-white to-slate-100 text-slate-200 border border-slate-50 block rounded-full text-center"
      ]
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10s10-4.48 10-10zM4 12c0-4.42 3.58-8 8-8s8 3.58 8 8s-3.58 8-8 8s-8-3.58-8-8zm12 0l-4 4l-1.41-1.41L12.17 13H8v-2h4.17l-1.59-1.59L12 8l4 4z"
            />
          </svg>
        </span>
      )
    }
  </div>
  <p class="text-center font-light text-sm mt-4 text-slate-600">
    Page {page.currentPage}
  </p>
</div>
